<ion-modal-view>
  <ion-header-bar>
    <h1 class="title"></h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeamnt()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
  <br/>
    <div>
      <center>
        <h2>Enter your Budgeted Amount</h2>
      </center>
        <label class="item item-input">
          <input type="text" ng-model="amntentered">
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="addamnt(amntentered)">Save</button>
        </label>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
