<ion-view view-title="Transaction">
 	<ion-content> 
	 	<!-- <button class="scan_button button button-small button-positive"> -->
	  		<a href="#/app/search_scan" class="scan_button button button-small button-positive"><b>Add</b></a>
		<!-- </button> -->

		<!-- <button class="edit_button button button-small button-balanced"> -->
	  		<a href="#/app/edit_new_transaction" class="edit_button button button-small button-balanced"><b>Edit</b></a>
		<!-- </button> -->

		<!-- <button class="submit_button button button-small button-calm"> -->
	  		<a href="" class="submit_button button button-small button-calm"><b>Submit</b></a>
		<!-- </button> -->		

			<a href="" class="cancel_button button button-small button-assertive"><b>Cancel</b></a>
	</ion-content>
</ion-view>
