<ion-view view-title="Transaction">
 	<ion-content> 
        <div class="row">
  		<a href="#/app/search_item" class="buttonsn col button button-small button-positive"><b>Add</b></a>
  		<a href="#/app/edit_new_transaction" class="buttonsn col button button-small button-balanced"><b>Edit</b></a>
  		<a href="" ng-click="submitotcashier()" class="buttonsn col button button-small button-calm"><b>Submit</b></a>
		<a href="" ng-click="cancel()" class="buttonsn col button button-small button-assertive"><b>Cancel</b></a>
        </div>
        <center><h4 style="color: red;">{{message}}</h4></center>
    <h4 style="margin-left: 10px;">List of your Items:</h4>
    <div ng-repeat="data in item">
        <h5 style="margin-left: 10px;">{{data.brand_details}}, {{data.items_name}} {{data.items_unit}} <br/>
            {{data.items_price}} X {{data.qty}} <b style="float: right; margin-right: 25px;">{{data.items_price * data.qty | currency: "" : 2}}</b>
        </h5>
    </div>
    <br/>
    <div>
        <h2 style="font-size: 15px; margin-left: 130px;">Total Amount:<b ng-repeat="dataselected in totalforid">{{dataselected.total[1]}}</b></h2>
    </div>  

        <br/>
        <br/>
        <div>
            <p style="font-size: 15px; margin-left: 10px;">Money Budgeted:<b ng-repeat="sdatas in selecteddetails"> {{sdatas.budget_amnt | currency: "" : 2 }}</b>
            <br/>
            <a href="" ng-click="addbudgetedamnt()" style="float: right; margin-right: 10px;">Edit Budgeted Money</a></p>
        </div>
        <br/>
        <p style="font-size: 15px; margin-left: 10px;">Remaining Amount:<b></b></p>
        <br/><br/>
	</ion-content>
</ion-view>


