<ion-view view-title="Transaction">
 	<ion-content> 
	  		<a href="#/app/search_scan" class="scan_button button button-small button-positive"><b>Add</b></a>

	  		<a href="#/app/edit_new_transaction" class="edit_button button button-small button-balanced"><b>Edit</b></a>

	  		<a href="#/app/submit_transaction" class="submit_button button button-small button-calm"><b>Submit</b></a>

			<a href="#/app/transaction" class="cancel_button button button-small button-assertive"><b>Cancel</b></a>

			<br/>
			<br/>

		<div class="row header">
          <div class="col">Product Name</div>
          <div class="col">Price</div>
          <div class="col">Qty</div>
          <div class="col">Total</div>
        </div>
        <div class="row" ng-repeat="data in item">
          <div class="col">{{data.title}}</div>
          <div class="col">{{data.price}}</div>
          <div class="col">{{data.qty}}</div>
          <div class="col">{{}}</div>

        </div>

        <br/>
        <br/>
        <br/>
        <br/>

        <p><b>Money Budgeted:</b> 1,000.00</p>
        <p><b>Total Amount:</b> 300.00</p>

	</ion-content>
</ion-view>


