<ion-view view-title="Edit Transaction">
 	<ion-content> 
 		<div ng-controller="edititem">
 			<h2>Your selected items:</h2>
 			<input type="text" ng-model="name" placeholder="Name of the product">
 			<input type="text" ng-model="price" placeholder="Price of the product" disabled>
 			<input type="text" ng-model="qty" placeholder="Qty of the product">
 			<input type="text" ng-model="total" placeholder="Total of the product" disabled>
 			<input type="submit" ng-click="addedit()" value="Save">
		    <div class="row header">
		        <div class="col"><b>Product Name</b></div>
		        <div class="col"><b>Qty</b></div>
		        <div class="col"><b>Total</b></div>
		        <div class="col" colspan="2"><b>Action</b></div>
		    </div>
		    <div class="row" ng-repeat="items in item track by $index">
		        <div class="col">{{items.name}}</div>
		        <div class="col">{{items.qty}}</div>
		        <div class="col"><b>{{items.total}}</b></div>
		        <div class="col"><input type="submit" ng-click="edit(items, $index)" value="Edit"></div>
		        <div class="col"><input type="submit" ng-click="delete($index)" value="Delete"></div>
		    </div>
		    </div>
	</ion-content>
</ion-view>