<ion-view view-title="Search Item">
 	<ion-content> 
 		<!-- <div class="list list-inset">
		  <label class="item item-input">
		    <i class="icon ion-search placeholder-icon"></i>
		    <input type="text" placeholder="Search">
		  </label>
		</div> -->
		<div ng-controller="AddItemTransaction">
		<h2>Add Item</h2>
		<br/>
			<label class="item item-input">
				<input type="text" placeholder="Name of Item" ng-model="newitem.name">
			</label>
			<br/>
			<label class="item item-input">
				<input type="text" placeholder="Price of the Item" ng-model="newitem.price">
			</label>
			<br/>
			<label class="item item-input">
				<input type="text" placeholder="Qty of the Item" ng-model="newitem.qty">
			</label>
			<br/>
			<button ng-click="additem()" class="button button-assertive">
			  Add Item
			</button>

			<ion-list>
		      <ion-item ng-repeat="items in item" >
		        {{items.name}}, {{items.price}}, {{items.qty}}
		      </ion-item>
		    </ion-list>
		    </div>
	</ion-content>
</ion-view>