
<ion-view view-title="List ">
<ion-content>
	
<div class="list">
  

</div>
  <label class="item item-input" >
    <h3>MILO</h3>
 
  </label>
  <label class="item item-input">
   <h3>PONDS</h3>
  </label>
  <label class="item item-input">
    <h3>KITKAT</h3>
  </label>
   <label class="item item-input">
   <h3>NIPS</h3>
  </label>
   <label class="item item-input">
    <h3>MR.CHIPS</h3>
  </label>  


</div>

<a href="#/admin/additem" class="button2 button button-positive">
  Add item 
</a>
</ion-content>
</ion-view>