<ion-view view-title="Barcroid Scanner">
 	<ion-content>
 		<div>
 			<center class="bar bar-header bar-dark">
 				<span></span>	<h1 class="title">BarcRoid Scanner</h1>
 			</center><br/><br/><br/>

 			<img class="img" src="\img/cart3.png" width="170px;"/>
 			
				<a href="#/login" class="login bar bar-header bar-calm"><b class="ion-android-person"> &nbsp Login</b></a> 			
				<a href="#/signup" class="register bar bar-header bar-calm"> <b class="ion-android-person-add"> &nbsp Register</b></a>
				
				
 		</div> 
	</ion-content>
</ion-view>
