.scan_button{
	margin-left: 25px;
	margin-top: 10px;
	width: 60px;
	font-size: 15px;
	padding: 2px;
}

.edit_button{
	margin-left: 5px;
	margin-top: 10px;
	width: 60px;
	font-size: 15px;
	padding: 2px;
}

.cancel_button{
	margin-left: 5px;
	margin-top: 10px;
	width: 60px;
	font-size: 15px;
	padding: 2px;
}

.submit_button{
	margin-left: 5px;
	margin-top: 10px;
	width: 60px;
	font-size: 15px;
	padding: 2px;
}

.listofaddeditem{
	margin-left: 10px;
}

.login_button{
	margin-top: 130px;
	width: 260px;
	margin-left: 30px;
}

.login_button b{
	margin-left: 100px;
	font-size: 20px;
	margin-top: 4px;
	text-decoration: none;
}

.signup_button{
	margin-top: 360px;
	width: 260px;
	margin-left: 30px;
}

.signup_button b{
	margin-left: 90px;
	font-size: 20px;
	margin-top: 4px;
	text-decoration: none;
}

#title{
	margin-top: 15px;
	font-family: "Comic Sans MS";
	color: #1A06E5;
}

.login{
	margin-top: 250px;
	width: 290px;
	margin-left: 15px;
}

.login b{
	margin-top: 5px;
	margin-left: 110px;
	font-size: 20px;
}

.register{
	margin-top: 320px;
	width: 290px;
	margin-left: 15px;
}

.register b{
	margin-top: 5px;
	margin-left: 100px;
	font-size: 20px;
}

.img{
	margin-left: 60px;
}

.link{
	margin-top: 80px;
	margin-left: 160px;
	position: fixed;
}

.edit_profile{
	margin-top: 290px;
	width: 150px;
	margin-left: 160px;
}

.edit_profile b{
	margin-top: 5px;
	margin-left: 35px;
	font-size: 15px;
}