<<<<<<< HEAD

.button1 {

	margin-left: 100px;
	margin-top: 30px;
	width: 250px;
}
.button2 {

	margin-left: 100px;
	width: 250px;
	margin-top: 30px;
=======
body{
	background-color: pink;	
	font-family: "Century Gothic";
}

a{
	text-decoration: none;
>>>>>>> 63b344f40b8340f2d8559490368ba3d5b1f4b8d7
}
.button3 {

<<<<<<< HEAD
	margin-left: 100px;
	width: 250px;
	margin-top: 30px;
=======


.btn {
	text-align: center;
	margin-top: 100px;
>>>>>>> 63b344f40b8340f2d8559490368ba3d5b1f4b8d7
}
.button4 {

<<<<<<< HEAD
	margin-left: 100px;
	margin-top: 30px;
	width: 250px;
}

.con{
	color:lightgray;
}
=======
.btn :hover{
	background-color: pink;
}

/*--------------------------- NIKKI STYLES ---------------------------------------*/
.scan_button{
	margin-left: 25px;
	margin-top: 10px;
	width: 60px;
	font-size: 15px;
	padding: 2px;
}

.edit_button{
	margin-left: 5px;
	margin-top: 10px;
	width: 60px;
	font-size: 15px;
	padding: 2px;
}

.cancel_button{
	margin-left: 5px;
	margin-top: 10px;
	width: 60px;
	font-size: 15px;
	padding: 2px;
}

.submit_button{
	margin-left: 5px;
	margin-top: 10px;
	width: 60px;
	font-size: 15px;
	padding: 2px;
}

.listofaddeditem{
	margin-left: 10px;
}

.login_button{
	margin-top: 130px;
	width: 260px;
	margin-left: 30px;
}

.login_button b{
	margin-left: 100px;
	font-size: 20px;
	margin-top: 4px;
	text-decoration: none;
}

.signup_button{
	margin-top: 360px;
	width: 260px;
	margin-left: 30px;
}

.signup_button b{
	margin-left: 90px;
	font-size: 20px;
	margin-top: 4px;
	text-decoration: none;
}

#title{
	margin-top: 15px;
	font-family: "Comic Sans MS";
	color: #1A06E5;
}

.login{
	margin-top: 250px;
	width: 290px;
	margin-left: 15px;
}

.login b{
	margin-top: 5px;
	margin-left: 110px;
	font-size: 20px;
}

.register{
	margin-top: 320px;
	width: 290px;
	margin-left: 15px;
}

.register b{
	margin-top: 5px;
	margin-left: 100px;
	font-size: 20px;
}

.img{
	margin-left: 60px;
}

.link{
	margin-top: 80px;
	margin-left: 160px;
	position: fixed;
}

.edit_profile{
	margin-top: 290px;
	width: 150px;
	margin-left: 160px;
}

.edit_profile b{
	margin-top: 5px;
	margin-left: 35px;
	font-size: 15px;
}



/*------------------------------------- Danica's STYLE --------------------------------------------*/
.title {
	margin-top: 15px;
	font-family: "Century Gothic";
	color: skyblue;
	padding: 5px;
	margin-top: 10px;
}

>>>>>>> 63b344f40b8340f2d8559490368ba3d5b1f4b8d7
